body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.856);
  background-image: url("picFolder/8ed3d547-94ff-48e1-9f20-8c14a7030a02_2000x2000.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 800px;
}

.container {
  max-width: 40%;
  min-width: 25%;
  border: 0.22em solid rgb(252, 80, 0);
  padding: 20px;
  background-color: hsl(0, 0%, 0%);
  border-radius: 40px;
}

.display {
  margin: 10px;
  height: 35px;
  border: 3px solid rgb(63, 63, 63);
  text-align: right;
  font-size: 1.7em;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 15px;
}

.operator {
  background-color: rgb(255, 166, 0);
  color: white;
}

.buttons button {
  flex-basis: 50px;
  font-size: 1.7em;
  border-radius: 15px;
  padding: 10px;
}

.buttons #equal {
  flex-grow: 1;
}

.buttons button:hover {
  background-color: rgb(24, 139, 105);
  color: white;
}

.buttons button:active {
  background-color: rgb(47, 11, 179);
  color: white;
}
